@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&family=DM+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
  --font-size: 16px;
  --background: #080e1a;
  --primary-text: #4a8db7;
  --foreground: #d4dde8;
}

html {
    font-size: var(--font-size);
    font-family: 'DM Sans', sans-serif;
}

body {
  background-color: var(--background); 
  margin: 0;             
  padding: 0rem 14rem;  
  min-height: 100vh;       
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 0.1px solid var(--primary-text);
}

main {
    color: var(--foreground);
}

p {
    color: var(--primary-text);
}

.hero-row {
    display: flex;
    gap: 30px;
}

.hero-text {
    flex-grow: 6;
}

.profile-pic {
    flex-grow: 1;
}

img {
  object-fit: cover;
  max-width: 100% 
}

@media (width <= 760px) {
    body{
        padding: 0rem 1rem;
    }
    header {
        padding: 0.5rem 1.5rem;
    }
    img {
        width: 150px;
    }
}